{% extends "dogs/base.html" %}
{% load my_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{object.photo|mymedia}}"
                     alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Имя: {{object.name}}</p>
                    <p class="card-text">Порода: {{object.breed.name}}</p>
                    <p class="card-text">{{object.breed.description}}</p>
                    <span class="text-muted">{{object.birth_day|default:"---"}}</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}